<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet"> 
  </head>
  
  <body>
    <header id="left-col">
      <h1>Josh Minkus</h1>
      <nav>
        <ul>
          <li><a href="/art">Art</a></li>
          <li><a href="/text">Text</a></li>
          <li><a href="/info">Info</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-col">
      {{ content }}
    </main>
  </body>
</html>
