<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="">
    <header id="left-col">
      <nav>
        <span id="name">Josh Minkus</span>
        <ul>
          <li><a href="/art">Art</a></li>
          <li><a href="/writing">Writing</a></li>
          <li><a href="/info">Info</a></li>
        </ul>
      </nav>
    </header>
    <main id="main-col">
      {{ content }}
    </main>
  </body>
</html>
